# Ignore the build and lib dirs
build
lib/*

# Ignore any executables
bin/*

# Ignore Mac specific files
.DS_Store

# Ignore gtags files
GPATH
GRTAGS
GTAGS

# Ignore emacs backup files
*~
\#*\#

# Ignore cmake files
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

# Ignore vs files
.vs
.vscode
